.custom-block-center {
  margin: 0 auto !important;
}

.custom-user-name{
  margin-bottom: 0rem !important;
}

.chat-box-responsive {
  height: 20rem;
}

.chat-image-frame{
}

.chat-image{
  height:100%;
  width: 100%;
}
